*~
*.[oad]
*.swp
\#*
.\#*
!/bin
!/build
!/lib
!/conf
!/lib
!/docs
!/source
!/cmake
!/include
!/.gitignore
!/db
testbin/*
innertestbin
*.model.bin
/include/icma-version.h
.cproject
.project
Debug/*
debugbuild/*
