*.lo
*.o
MHD_config.h
Makefile
config.log
config.status
contrib/Makefile
libmicrohttpd.pc
libtool
m4/Makefile
src/Makefile
src/daemon/.deps/
src/daemon/.libs/
src/daemon/Makefile
src/daemon/https/Makefile
src/daemon/https/lgl/.deps/
src/daemon/https/lgl/Makefile
src/daemon/https/minitasn1/.deps/
src/daemon/https/minitasn1/Makefile
src/daemon/https/tls/.deps/
src/daemon/https/tls/Makefile
src/daemon/https/x509/.deps/
src/daemon/https/x509/Makefile
src/daemon/libmicrohttpd.la
src/examples/.deps/
src/examples/.libs/
src/examples/Makefile
src/examples/authorization_example
src/examples/fileserver_example
src/examples/fileserver_example_external_select
src/examples/minimal_example
src/examples/minimal_example_comet
src/examples/querystring_example
src/examples/refuse_post_example
src/include/Makefile
src/testcurl/.deps/
src/testcurl/Makefile
src/testcurl/https/.deps/
src/testcurl/https/Makefile
src/testzzuf/.deps/
src/testzzuf/Makefile
stamp-h1
src/testcurl/.libs/
src/testcurl/daemon_options_test
src/testcurl/libcurl_version_check.a


