# The Configuration about the System Configuration
# If a value start with white spaces, add a backslash (\) before the first white space

# Delimiter between the word and POS Information, default is '/'
pos_delimiter = /

# Delimiter between words, default is '  '.
# [Notice] Default is two white spaces, and a backslash before the first white space
word_delimiter = \  

# Sentence between sentences, default is empty.
# Only take effect in the runWithStream function.
sentence_delimiter = <EOS>
