# The Configuration about the POS Information
# If a value start with white spaces, add a back slash (\) before the first white space
# [Warning] This file changes together with POS list

# default POS
defaultPOS = N

# POS for Number
numberPOS = M

# POS for Letter
letterPOS = NX

# POS for Punctuation
puncPOS = W

# POS for Date
datePOS = T
